/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #C397BF;
  --color-text: #0A3641;
  --color-background: #F9B1CC;

  --font-nav: 'amiko', sans-serif;
  --font-main: 'sarala', sans-serif;
  --font-paragraph: 'martel', sans.serif;
  
}
