/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 70vh;
    background-color: var(--color-background);
    padding: 3rem;
    flex-wrap: wrap;
}

.product-image img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
}

.delivery-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 10px;
    width: 350px;
}

.delivery-form label{
    margin-top: 1rem;
    font-weight: 600;
    color: black;
}

.delivery-form input,
.amount-select{
    margin-top: 0.3rem;
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1rem;
}

.amount-select{
    margin-bottom: 1rem;
    width: 20%;
}

.price{
    font-size: 1.3rem;
    font-weight: bold;
    color: red;
    margin-top: 1.5rem;
    text-align: center;
}

.checkout-button{
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover{
    background-color: gray;
}