header {
  height: 20vh;
  background-color: var(--color-primary);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.navbar {
  display: flex;
  justify-content: space-between;  
  align-items: center;             
  height: 100%;
  padding: 0 2rem;
}

/* LOGO */
.navbar a img.logo-header {
  height: auto;
  width: 200px;
  display: block;
}

.navbar a{
  display: flex;
  align-items: center;
  text-decoration: none;
}


.nav-links {
  display: flex;
  gap: 5rem;           
  list-style: none;    
  margin: 0;
  padding: 0;
}


.nav-links a {
  text-decoration: none;
  color: white;
  font-family: var(--font-nav);
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #555;
}

.nav-icons{
  padding: 0 2rem;
  justify-content: space-between;
  margin: 2rem;
  gap: 1.5rem;
  align-items: center;
  display: flex;
}

.nav-icons img{
  width: 2rem;
  height: auto;
}

.menu-toggle{
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}


/* ----- Mobile ----- */
@media (max-width: 768px) {

  .navbar{
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-links{
    display: none;
  }

  .menu-toggle{
    display: block;
  }

  .nav-icons{
    margin: 1rem 0;
    padding: 0;
    gap: 1rem;
  }


}