/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.main{
  height: 70vh;                  
  background-size: cover;         
  background-position: top;    
  background-repeat: no-repeat;   
  display: flex;                  
  justify-content: center;        
  align-items: flex-start;            
  padding-top: 20rem;             
  background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/25/adventure-1850178_1280.jpg");
}


.homepage-cta{
  padding: 1rem 3rem;
  font-size: 2rem;
  border: 2px solid white;
  background-color: var(--color-button);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: var(--font-main);
}

.homepage-cta a{
  color: var(--color-text);
  text-decoration: none;
}

.homepage-cta:hover{
  transform: scale(1.1);
}

/* ----- Mobile ----- */
@media (max-width: 768px){

  .main{
    height: 60vh;
    padding-top: 10rem;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  .homepage-cta{
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border-width: 1.5px;
  }

  .homepage-cta a{
    font-size: 1.1rem;
  }

}

/* ----- Tablet ----- */
@media (max-width: 1024px){

  .main{
    height: 60vh;
    padding-top: 15rem;
    background-position: center;
  }

}



/* Under construction site */

.construction{
  background-color: var(--color-background);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}