/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */


.main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.main h2{
    font-size: 2rem;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.main h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.main p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Button */
.return{
    background-color: var(--color-button);
    border: none;
    padding: 1rem 2.5rem;
    cursor: pointer;
    box-shadow: 0 2px 6px black;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.return a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.return:hover{
    background-color: var(--color-primary);
    transform: scale(1.05);
}